<!DOCTYPE html>
<html>
<head>
  <title>Meuprojeto01</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= image_tag 'logo.jpg', class: 'logo'%>

<h1>Lambiscaria</h1>

<hr/>
<%= link_to 'Empresa', paginas_index_path %>
<%= link_to 'Localização', paginas_localizacao_path %>
<%= link_to 'Clientes', clientes_path %>
<hr/>

<%= yield %>

</body>
</html>
